In [291]:
#importer sqlite3
import sqlite3 as sq
import pandas as pd
import numpy as np

In [292]:
# création de connexion entre le projet et la BD
conn = sq.connect("C:\\Users\\utilisateur\\Documents\\DATA\\Fifa_19\\bdd\\V1_Fifa19-Clean- textNumber as numberNumber.db")

In [293]:
# Le cursor c'est le vihécule qui prends des requette a la bd et recup des results 
cursor = conn.cursor()

In [294]:
# la fonction qui permet d'executer les requettes, limit5: pour ne pas tt télécharger "sans la fonction limit ca ne fonction pas"
cursor.execute("select*from fifa19 limit 10  ")

In [295]:
result=cursor.fetchall()
print(result)

[(158023, 'L. Messi', 31, 'https://cdn.sofifa.org/players/4/19/158023.png', 'Argentina', 'https://cdn.sofifa.org/flags/52.png', 94, 94, 'FC Barcelona', 'https://cdn.sofifa.org/teams/2/light/241.png', '€110.5M', '€565K', 2202, 'Left', 5, 4, 4, 'Medium/ Medium', 'Messi', 'Yes', 'RF', 10, 'Jul 1, 2004', '', 2021, "5'7", '159lbs', '88+2', '88+2', '88+2', '92+2', '93+2', '93+2', '93+2', '92+2', '93+2', '93+2', '93+2', '91+2', '84+2', '84+2', '84+2', '91+2', '64+2', '61+2', '61+2', '61+2', '64+2', '59+2', '47+2', '47+2', '47+2', '59+2', 84, 95, 70, 90, 86, 97, 93, 94, 87, 96, 91, 86, 91, 95, 95, 85, 68, 72, 59, 94, 48, 22, 94, 94, 75, 96, 33, 28, 26, 6, 11, 15, 14, 8, '€226.5M'), (20801, 'Cristiano Ronaldo', 33, 'https://cdn.sofifa.org/players/4/19/20801.png', 'Portugal', 'https://cdn.sofifa.org/flags/38.png', 94, 94, 'Juventus', 'https://cdn.sofifa.org/teams/2/light/45.png', '€77M', '€405K', 2228, 'Right', 5, 4, 5, 'High/ Low', 'C. Ronaldo', 'Yes', 'ST', 7, 'Jul 10, 2018', '', 2022, "6'2", '183lbs', '91+3', '91+3', '91+3', '89+3', '90+3', '90+3', '90+3', '89+3', '88+3', '88+3', '88+3', '88+3', '81+3', '81+3', '81+3', '88+3', '65+3', '61+3', '61+3', '61+3', '65+3', '61+3', '53+3', '53+3', '53+3', '61+3', 84, 94, 89, 81, 87, 88, 81, 76, 77, 94, 89, 91, 87, 96, 70, 95, 95, 88, 79, 93, 63, 29, 95, 82, 85, 95, 28, 31, 23, 7, 11, 15, 14, 11, '€127.1M'), (190871, 'Neymar Jr', 26, 'https://cdn.sofifa.org/players/4/19/190871.png', 'Brazil', 'https://cdn.sofifa.org/flags/54.png', 92, 93, 'Paris Saint-Germain', 'https://cdn.sofifa.org/teams/2/light/73.png', '€118.5M', '€290K', 2143, 'Right', 5, 5, 5, 'High/ Medium', 'Neymar', 'Yes', 'LW', 10, 'Aug 3, 2017', '', 2022, "5'9", '150lbs', '84+3', '84+3', '84+3', '89+3', '89+3', '89+3', '89+3', '89+3', '89+3', '89+3', '89+3', '88+3', '81+3', '81+3', '81+3', '88+3', '65+3', '60+3', '60+3', '60+3', '65+3', '60+3', '47+3', '47+3', '47+3', '60+3', 79, 87, 62, 84, 84, 96, 88, 87, 78, 95, 94, 90, 96, 94, 84, 80, 61, 81, 49, 82, 56, 36, 89, 87, 81, 94, 27, 24, 33, 9, 9, 15, 15, 11, '€228.1M'), (193080, 'De Gea', 27, 'https://cdn.sofifa.org/players/4/19/193080.png', 'Spain', 'https://cdn.sofifa.org/flags/45.png', 91, 93, 'Manchester United', 'https://cdn.sofifa.org/teams/2/light/11.png', '€72M', '€260K', 1471, 'Right', 4, 3, 1, 'Medium/ Medium', 'Lean', 'Yes', 'GK', 1, 'Jul 1, 2011', '', 2020, "6'4", '168lbs', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 17, 13, 21, 50, 13, 18, 21, 19, 51, 42, 57, 58, 60, 90, 43, 31, 67, 43, 64, 12, 38, 30, 12, 68, 40, 68, 15, 21, 13, 90, 85, 87, 88, 94, '€138.6M'), (192985, 'K. De Bruyne', 27, 'https://cdn.sofifa.org/players/4/19/192985.png', 'Belgium', 'https://cdn.sofifa.org/flags/7.png', 91, 92, 'Manchester City', 'https://cdn.sofifa.org/teams/2/light/10.png', '€102M', '€355K', 2281, 'Right', 4, 5, 4, 'High/ High', 'Normal', 'Yes', 'RCM', 7, 'Aug 30, 2015', '', 2023, "5'11", '154lbs', '82+3', '82+3', '82+3', '87+3', '87+3', '87+3', '87+3', '87+3', '88+3', '88+3', '88+3', '88+3', '87+3', '87+3', '87+3', '88+3', '77+3', '77+3', '77+3', '77+3', '77+3', '73+3', '66+3', '66+3', '66+3', '73+3', 93, 82, 55, 92, 82, 86, 85, 83, 91, 91, 78, 76, 79, 91, 77, 91, 63, 90, 75, 91, 76, 61, 87, 94, 79, 88, 68, 58, 51, 15, 13, 5, 10, 13, '€196.4M'), (183277, 'E. Hazard', 27, 'https://cdn.sofifa.org/players/4/19/183277.png', 'Belgium', 'https://cdn.sofifa.org/flags/7.png', 91, 91, 'Chelsea', 'https://cdn.sofifa.org/teams/2/light/5.png', '€93M', '€340K', 2142, 'Right', 4, 4, 4, 'High/ Medium', 'Normal', 'Yes', 'LF', 10, 'Jul 1, 2012', '', 2020, "5'8", '163lbs', '83+3', '83+3', '83+3', '89+3', '88+3', '88+3', '88+3', '89+3', '89+3', '89+3', '89+3', '89+3', '82+3', '82+3', '82+3', '89+3', '66+3', '63+3', '63+3', '63+3', '66+3', '60+3', '49+3', '49+3', '49+3', '60+3', 81, 84, 61, 89, 80, 95, 83, 79, 83, 94, 94, 88, 95, 90, 94, 82, 56, 83, 66, 80, 54, 41, 87, 89, 86, 91, 34, 27, 22, 11, 12, 6, 8, 8, '€172.1M'), (177003, 'L. Modrić', 32, 'https://cdn.sofifa.org/players/4/19/177003.png', 'Croatia', 'https://cdn.sofifa.org/flags/10.png', 91, 91, 'Real Madrid', 'https://cdn.sofifa.org/teams/2/light/243.png', '€67M', '€420K', 2280, 'Right', 4, 4, 4, 'High/ High', 'Lean', 'Yes', 'RCM', 10, 'Aug 1, 2012', '', 2020, "5'8", '146lbs', '77+3', '77+3', '77+3', '85+3', '84+3', '84+3', '84+3', '85+3', '87+3', '87+3', '87+3', '86+3', '88+3', '88+3', '88+3', '86+3', '82+3', '81+3', '81+3', '81+3', '82+3', '79+3', '71+3', '71+3', '71+3', '79+3', 86, 72, 55, 93, 76, 90, 85, 78, 88, 93, 80, 72, 93, 90, 94, 79, 68, 89, 58, 82, 62, 83, 79, 92, 82, 84, 60, 76, 73, 13, 9, 7, 14, 9, '€137.4M'), (176580, 'L. Suárez', 31, 'https://cdn.sofifa.org/players/4/19/176580.png', 'Uruguay', 'https://cdn.sofifa.org/flags/60.png', 91, 91, 'FC Barcelona', 'https://cdn.sofifa.org/teams/2/light/241.png', '€80M', '€455K', 2346, 'Right', 5, 4, 3, 'High/ Medium', 'Normal', 'Yes', 'RS', 9, 'Jul 11, 2014', '', 2021, "6'0", '190lbs', '87+5', '87+5', '87+5', '86+5', '87+5', '87+5', '87+5', '86+5', '85+5', '85+5', '85+5', '84+5', '79+5', '79+5', '79+5', '84+5', '69+5', '68+5', '68+5', '68+5', '69+5', '66+5', '63+5', '63+5', '63+5', '66+5', 77, 93, 77, 82, 88, 87, 86, 84, 64, 90, 86, 75, 82, 92, 83, 86, 69, 90, 83, 85, 87, 41, 92, 84, 85, 85, 62, 45, 38, 27, 25, 31, 33, 37, '€164M'), (155862, 'Sergio Ramos', 32, 'https://cdn.sofifa.org/players/4/19/155862.png', 'Spain', 'https://cdn.sofifa.org/flags/45.png', 91, 91, 'Real Madrid', 'https://cdn.sofifa.org/teams/2/light/243.png', '€51M', '€380K', 2201, 'Right', 4, 3, 3, 'High/ Medium', 'Normal', 'Yes', 'RCB', 15, 'Aug 1, 2005', '', 2020, "6'0", '181lbs', '73+3', '73+3', '73+3', '70+3', '71+3', '71+3', '71+3', '70+3', '71+3', '71+3', '71+3', '72+3', '75+3', '75+3', '75+3', '72+3', '81+3', '84+3', '84+3', '84+3', '81+3', '84+3', '87+3', '87+3', '87+3', '84+3', 66, 60, 91, 78, 66, 63, 74, 72, 77, 84, 76, 75, 78, 85, 66, 79, 93, 84, 83, 59, 88, 90, 60, 63, 75, 82, 87, 92, 91, 11, 8, 9, 7, 11, '€104.6M'), (200389, 'J. Oblak', 25, 'https://cdn.sofifa.org/players/4/19/200389.png', 'Slovenia', 'https://cdn.sofifa.org/flags/44.png', 90, 93, 'Atlético Madrid', 'https://cdn.sofifa.org/teams/2/light/240.png', '€68M', '€94K', 1331, 'Right', 3, 3, 1, 'Medium/ Medium', 'Normal', 'Yes', 'GK', 1, 'Jul 16, 2014', '', 2021, "6'2", '192lbs', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 13, 11, 15, 29, 13, 12, 13, 14, 26, 16, 43, 60, 67, 86, 49, 22, 76, 41, 78, 12, 34, 19, 11, 70, 11, 70, 27, 12, 18, 86, 92, 78, 88, 89, '€144.5M')]

In [296]:
# création d'un DataFrame


#df = pd.DataFrame(cursor.fetchall())
# créer une connexion entre dataframe et table
df=pd.read_sql_query("SELECT * FROM fifa19" , conn)
df.head(5)
#df = pd.DataFrame(columns=diabetes["feature_names"], data=diabetes.data)
# chager les lignes en columns
#df = pd.DataFrame(columns = cursor.fetchall())

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,https://cdn.sofifa.org/teams/2/light/241.png,...,96,33,28,26,6,11,15,14,8,€226.5M
1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,https://cdn.sofifa.org/teams/2/light/45.png,...,95,28,31,23,7,11,15,14,11,€127.1M
2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,https://cdn.sofifa.org/teams/2/light/73.png,...,94,27,24,33,9,9,15,15,11,€228.1M
3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,https://cdn.sofifa.org/teams/2/light/11.png,...,68,15,21,13,90,85,87,88,94,€138.6M
4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,https://cdn.sofifa.org/teams/2/light/10.png,...,88,68,58,51,15,13,5,10,13,€196.4M

In [297]:
df.columns

Index(['ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag', 'Overall',
       'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [298]:
df.columns

Index(['ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag', 'Overall',
       'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [299]:
df_wage = df[['Wage']]
df_wage

        Wage
0      €565K
1      €405K
2      €290K
3      €260K
4      €355K
...      ...
18202    €1K
18203    €1K
18204    €1K
18205    €1K
18206    €1K

[18207 rows x 1 columns]

(r'ID:\s(\w+\s\w*)+', expand=True)

In [304]:
df_wage['Wage'] = df_wage['Wage'].replace({'€':''}, regex= True)
df_wage['Wage'] = df_wage['Wage'].replace({'K':'000'}, regex= True)
df_wage['Wage'] = df_wage['Wage'].replace({'M':'000000'}, regex= True)
df_wage['Wage'] = df_wage['Wage'].apply(float)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

def extract_value_from(Wage):
    out = Wage.replace('€', '')
    if 'M' in out:
        out = int(out.replace('M', ''))1000000
    elif 'K' in Wage:
        out = float(out.replace('K', ''))1000
    return int(out)
# applying the function to the wage column

df_wage['Wage'] = df_wage['Wage'].apply(lambda x: extract_value_from(x))
df_wage['Wage'] = df_wage['Wage'].apply(lambda x: extract_value_from(x))

df_wage['Wage'].head()

In [305]:
df_wage['Wage']

0        565000.0
1        405000.0
2        290000.0
3        260000.0
4        355000.0
           ...
18202      1000.0
18203      1000.0
18204      1000.0
18205      1000.0
18206      1000.0
Name: Wage, Length: 18207, dtype: float64

In [306]:
df_wage

           Wage
0      565000.0
1      405000.0
2      290000.0
3      260000.0
4      355000.0
...         ...
18202    1000.0
18203    1000.0
18204    1000.0
18205    1000.0
18206    1000.0

[18207 rows x 1 columns]